# Kconfig - STML4 SX1276 board configuration
#
# Copyright (c) 2020 M2I Corporation
#
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_STM32L4_SX1276

config BOARD
	default "stm32l4_sx1276"

if UART_CONSOLE

config UART_1
	default y

endif # UART_CONSOLE

endif # BOARD_STM32L4_SX1276
